* {
    margin: 0;
    padding: 0;
}


body {
    font-family: plus jakarta sans;
    // background: url(/content/bg-masthead.jpg);
}

h1 {
    display: flex;
    justify-content: center;
    padding: 15px;
}